
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ysabeau+Infant&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* crear variable color principal #c8dfbf */
:root {
    --colorPrincipal: #c8dfbf;
    --colorSecundario: #0f2b05;
}
body {
    background-color: var(--colorPrincipal);
}
header {
    display: flex;
    flex-wrap: nowrap;
    border: var(--colorSecundario) 8px solid;
    
}
header h1 {
    background-color: var(--colorPrincipal);
    width: 100%;
    padding: 1rem;
    text-align: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    color: var(--colorSecundario);
}
header #logoheader {
    height: 7rem;
    transition: 0.5s;
}
header #logoheader:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
    border-radius: 6px;
}
header img {
    height: 100%;
}
#descripcion {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    font-family: 'Ysabeau Infant', sans-serif;
    color: var(--colorSecundario);
}

form {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
    background-color: var(--colorSecundario);
    border-radius: 1rem;
    
}
form select, form input {
    border-radius: 1rem;
    background-color: var(--colorPrincipal);
    padding: 0.4rem;
}
#list{
    border: 4px solid var(--colorSecundario);
    border-style: double;
}
#list h2{
    margin: auto;
    text-align: center;
    padding: 1rem;
    color: var(--colorSecundario);
    font-family: 'Ysabeau Infant', sans-serif;
}
#list ul{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#list li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration-line: underline;
}
#list button{
    color: var(--colorPrincipal);
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin: auto;
    background-color: var(--colorSecundario);
}
#cantidad {
    width: 3rem;
}

#resultadocss{
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem;
}
#resultadocss h2 {
    font-family: 'Ysabeau Infant', sans-serif;
    color: var(--colorSecundario);
}
#results{
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.consumed {
    list-style: square;
    margin-top: 2rem;
}
#carga img {
    height: 18vh;
}
#carga button {
    color:var(--colorPrincipal);
    font-size: 1.4rem ;
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    background-color: var(--colorSecundario);
    transition: 0.2s;
    border-radius: 10px;
}
#carga button:hover {
    cursor: pointer;
    scale: 1.1;
}
.danger {
    color: red;
}
.percentage {
    list-style: none;
}
#carga {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#loading{
    margin:  auto;
}

@media screen and (min-width: 1000px) {
    main {
        margin: auto;
        width: 70%;
    }
    #resultadocss{
        border: 4px solid var(--colorSecundario);
        border-style: double;
    }
    #carga img {
        margin-top: 1rem;
        height: 18vh;
    }

}